body{
    background-color:crimson; 
}
h2{
    font-family: "Monsieur La Doulaise", serif;
    font-weight: 400;
    font-style: normal;
    
}
#wrapper{
    padding:40px;
    background-color: blueviolet;
}
header{
    background-color: blue;
}
nav{
    background-color: rgb(64, 182, 29);
}
main{
background-color: rgb(234, 113, 26);
}
footer{
background-color: yellow;
}