
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6A0DAD;
    color: white;
}

#wrapper {
    max-width: 1000px;
    margin: auto;
    background: #D2B4DE;
    color: black;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}


header {
    background: #8E44AD;
    padding: 20px;
    text-align: center;
    flex: 1 0 100%;
}

nav {
    background: #A569BD;
    padding: 15px;
    flex: 1 0 100%;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}


main {
    flex: 1;
    background: #E8DAEF;
    padding: 20px;
}

.image-link {
    width: 100%;
    max-width: 400px;
    border: 4px solid #8E44AD;
    border-radius: 10px;
}

.service-item img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    margin-bottom: 10px;
}

footer {
    background: #8E44AD;
    text-align: center;
    padding: 15px;
    flex: 1 0 100%;
}
